# Copiá este archivo a .env y completá con los datos del admin (Tienda online > Diseño > Editar el código > Abrir FTP).
# Ver: https://ayuda.tiendanube.com/es_ES/123227-editar-el-codigo-de-diseno/como-modificar-el-diseno-desde-el-codigo-de-mi-tienda

FTP_HOST=ftp.tiendanube.com
FTP_USER=direchentt
FTP_PASSWORD=wr3puuDs
FTP_PORT=21
FTP_SECURE=false
FTP_BASE_PATH=/
FTP_TIMEOUT=30000
DEBUG=false
